<!-- <% include ./navbar %> -->

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">LLF</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Expense</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" href="/users/timesheet">Timesheet</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" href="https://learninglinksindia.herokuapp.com/mytask">Timesheet</a>
      </li>
      
      <li class="nav-item">
          <a class="nav-link" href="">My Tasks</a>
        </li>
      <li class="nav-item dropdown" style="margin-left: 890px;">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          <i class="fas fa-user "></i>&nbsp; <%= name%> </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink-4">
          <a class="dropdown-item" href="/users/logout">Log out</a>
        </div>
      </li>
    </ul>
 
  </div>
</nav>

<script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script>
    window.onload = function () {
    
    var chart = new CanvasJS.Chart("chartContainer", {
      animationEnabled: true,
      title:{
        text: "Monthly Expenses, 2020-21"
      },
      axisY :{
        includeZero: false,
        prefix: "₹"
      },
      toolTip: {
        shared: true
      },
      legend: {
        fontSize: 13
      },
      data: [{
        type: "splineArea",
        showInLegend: true,
        name: "Salaries",
        yValueFormatString: "$#,##0",
        xValueFormatString: "MMM YYYY",
        dataPoints: [
          { x: new Date(2016, 2), y: 30000 },
          { x: new Date(2016, 3), y: 35000 },
          { x: new Date(2016, 4), y: 30000 },
          { x: new Date(2016, 5), y: 30400 },
          { x: new Date(2016, 6), y: 20900 },
          { x: new Date(2016, 7), y: 31000 },
          { x: new Date(2016, 8), y: 30200 },
          { x: new Date(2016, 9), y: 30000 },
          { x: new Date(2016, 10), y: 33000 },
          { x: new Date(2016, 11), y: 38000 },
          { x: new Date(2017, 0),  y: 38900 },
          { x: new Date(2017, 1),  y: 39000 }
        ]
       },
      {
        type: "splineArea", 
        showInLegend: true,
        name: "Office Cost",
        yValueFormatString: "$#,##0",
        dataPoints: [
          { x: new Date(2016, 2), y: 20100 },
          { x: new Date(2016, 3), y: 16000 },
          { x: new Date(2016, 4), y: 14000 },
          { x: new Date(2016, 5), y: 18000 },
          { x: new Date(2016, 6), y: 18000 },
          { x: new Date(2016, 7), y: 21000 },
          { x: new Date(2016, 8), y: 22000 },
          { x: new Date(2016, 9), y: 25000 },
          { x: new Date(2016, 10), y: 23000 },
          { x: new Date(2016, 11), y: 25000 },
          { x: new Date(2017, 0), y: 26000 },
          { x: new Date(2017, 1), y: 25000 }
        ]
       },
      {
        type: "splineArea", 
        showInLegend: true,
        name: "Entertainment",
        yValueFormatString: "$#,##0",     
        dataPoints: [
          { x: new Date(2016, 2), y: 10100 },
          { x: new Date(2016, 3), y: 6000 },
          { x: new Date(2016, 4), y: 3400 },
          { x: new Date(2016, 5), y: 4000 },
          { x: new Date(2016, 6), y: 9000 },
          { x: new Date(2016, 7), y: 3900 },
          { x: new Date(2016, 8), y: 4200 },
          { x: new Date(2016, 9), y: 5000 },
          { x: new Date(2016, 10), y: 14300 },
          { x: new Date(2016, 11), y: 12300 },
          { x: new Date(2017, 0), y: 8300 },
          { x: new Date(2017, 1), y: 6300 }
        ]
       },
      {
        type: "splineArea", 
        showInLegend: true,
        yValueFormatString: "$#,##0",      
        name: "Maintenance",
        dataPoints: [
          { x: new Date(2016, 2), y: 1700 },
          { x: new Date(2016, 3), y: 2600 },
          { x: new Date(2016, 4), y: 1000 },
          { x: new Date(2016, 5), y: 1400 },
          { x: new Date(2016, 6), y: 900 },
          { x: new Date(2016, 7), y: 1000 },
          { x: new Date(2016, 8), y: 1200 },
          { x: new Date(2016, 9), y: 5000 },
          { x: new Date(2016, 10), y: 1300 },
          { x: new Date(2016, 11), y: 2300 },
          { x: new Date(2017, 0), y: 2800 },
          { x: new Date(2017, 1), y: 1300 }
        ]
      }]
    });
    chart.render();
    
    }
    </script>
   
<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
        <% include ./partials/messages %>
        
      <h4>Hello <%= name%> </h4>
      <h5>Your email is <%= email %></h5> 
        <p>Welcome to Dashboard !</p>

        <br/>
        <a href="/users/logout" class="btn btn-secondary">Logout</a>
      </div>
    </div>
  </div>
 

