
<center><h1>Upload Successful</h1></center>
<center>

    <h6>Lattitude : <strong><%= lat %></strong></h6>
    <h6>Longitude : <strong><%= long %></strong></h6>
</center>
<br/>
<center><a href="http://www.google.com/maps/place/<%= lat %>,<%= long %>" target="_blank">click here to view on Google Maps</a></center>